@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro-Regular.woff2') format('woff2'),
      url('../fonts/Intro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Intro Regular Alt';
  src: url('../fonts/Intro-Regular-Alt.woff2') format('woff2'),
      url('../fonts/Intro-Regular-Alt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IntroLight';
  src: url('../fonts/IntroLight.woff2') format('woff2'),
      url('../fonts/IntroLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



