.work-schedule {
  display: flex;
  flex-direction: column;
  padding-right: 42px;
}

.work-schedule__title {
  font-size: 18px;
  margin-bottom: 14px;
}

.work-schedule__text {
  margin-bottom: 7px;
}